.search-container {
    position: relative;
    border-radius: 4px; 
    background-color: rgba(255, 255, 255, 0.15);
    margin-right: 16px;
    margin-left: 0;
    width: 100%;

    &:hover {
        background-color: rgba(255, 255, 255, 0.25);
    }

    @media (min-width: 600px) {
        margin-left: 24px;
        width: auto;
    }
}

.search-icon-wrapper {
    padding: 8px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.styled-input-base {
    color: inherit;
    padding: 8px 8px 8px 40px; // İkonun sol tarafına boşluk ekledik
    width: 100%;

    @media (min-width: 600px) {
        width: 20ch; // 'ch' karakter genişliğine göre genişlik ayarı yapıyor
    }
}
