$background-color-white: #FFFFFF;
$background-color-dark-blue: #041643;
$clickable-text-color: #294ead;
$background-color-dark-grey: #4c566e;

.home-page-right-container {
    width: 20%;
    flex-shrink: 0;
    position: sticky;
    top: 1rem;
    height: 100vh;
}

.dialog-actions {
    justify-content: flex-end;
    gap: 16px;

    @media (max-width: 600px) {
        flex-direction: column;
    }

    @media (min-width: 600px) {
        flex-direction: row;
    }
}

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(1px);
    z-index: 1000;
}

.movie-detail-info {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    .movie-detail-info-title {
        margin-bottom: 20px;
        font-weight: bold;
    }

    .movie-detail-info-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .movie-detail-info-left,
        .info-right {
            width: 48%;
        }

        .movie-detail-info-left {
            text-align: left;
        }

        .movie-detail-info-right {
            text-align: right;
        }

        .movie-detail-info-label {
            font-weight: 600;
        }
    }

    .MuiTypography-root {
        margin-bottom: 8px;
    }

    .movie-detail-rate-view-container {
        margin-top: 20px;
    }
}

.song-card {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.song-card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.song-card-text {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.song-title {
    font-size: 1.2rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.song-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
}

.player-container {
    width: 100%;
    max-width: 500px;  // Set a max width for the player
    margin: 20px auto;  // Center the player
    padding: 10px;
    background-color: #f0f0f0;  // Optional background color
    border-radius: 5px;  // Optional rounded corners
  }
  