$background-color-white: #FFFFFF;
$background-color-dark-blue: #041643;
$clickable-text-color: #294ead;
$text-color: #041643;

.list {
    width: 100%;
    max-width: 100%;
    // background-color: $background-color-white;
    border-radius: 10px;
}

.list-item {
    align-items: flex-start;
}

.list-item-text {
    // color: $text-color;
    display: inline;
    justify-content: end;
    display: flex;
}
