$background-color-white: #FFFFFF;
$background-color-dark-blue: #041643;
$clickable-text-color: #294ead;

.login-page {
    height: 100vh;
    // background-color: $background-color-dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10% !important;
}

.register-text {
    cursor: pointer;
    justify-content: center;
    display: flex;
    // color: $clickable-text-color;
}